<section class="biojs-light-green">
  <div class="row">
    <div class="col s12">
      <div id="gallery-wrapper" class="gallery-wrapper">
        <canvas id="gallery-content" class="gallery-content">
        </canvas>
      </div>
    </div>
  </div>

</section>