<nav>
  <div class="nav-wrapper green darken-2">
    <a class="brand-logo" href="/">
      <img class="col s6 main-logo" alt="BioJS logo - a registry of biological visualizations" src="/assets/img/biojslogo.png" width=50 height=50>
      <p class="col s6 main-logo-title mt-0 mb-0">BioJS</p>
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>
