<div class="col s12 m4">
  <div class="card biojs-green biojs-white-text">
    <div class="card-content white-text">
      <span class="card-title">What is Javascript?</span>
      <p>Javascript is by now one of the most ubiquitious programming languages on the web.
      Any website containing dynamic user interactions, search functions, ... is based on 
      the usage of Javascript or Javascript-based frameworks. Therefore building
      websites and web applications becomes even more exciting when you're getting started
      with Javascript!</p>
    </div>
    <div class="card-action">
      <a target="javascript_resources" href="#">Learn more about Javascript</a>
    </div>
  </div>
</div>
<div class="col s12 m8">
  dakdlakdsald
</div>