body {
  background-color: color('white');
}
footer {
  &.page-footer {
    background-color: color('green');
  }
}

p {
  &.signal{
    font-size: 1.2em;
  }
}
.github-icon {
  &.large {
    width: 50%;
    height: 50%;
    fill: color('white');
  }
}
.ratings {

  .rating-item {
    position: relative;
    width: 25px;
    display: inline-block;

    .full-item {
      overflow: hidden;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
    }
    /* &:before{
      overflow: hidden;
      content: "favorite";
      position: absolute;
      top: 0;
      left: 0;
      color: color('pink');
      width: 0%;
      height: 100%;
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
    } */
  }
}

.tag-brandpage h1 {
  font-size: 3.2em;
}
.link-icon {
  position: relative;
  top: 2px;
}
@media (min-width: 768px) {
.carousel-item.large {
  width: 450px;
 }
}
/* Buttons */
.btn {
  text-transform: uppercase;
  &.action {
    color: color('white');
    background-color: color('pink');
  }
  &.weak-action {
    color: color('white');
    background-color: color('black');
  }
}
/* Parallax */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


/* Helpers */
.veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.75;
}
.relative {
  position: relative;
}
.text-shadow {
  text-shadow: 2px 2px 3px color('black');
  &.light {
    text-shadow: 2px 2px 3px color('white');
  }
}