body {
  background-color: color('white');
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
footer {
  &.page-footer {
    background-color: color('green');
  }
}

/* IE10+ fix to circumvent poorly supported flexbox features */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body, main {
            display: block;
            min-height: auto;
    }
}

main {
  flex: 1 0 auto;
}
    
p {
  &.signal{
    font-size: 1.2em;
  }
}
.github-icon {
  &.large {
    width: 50%;
    height: 50%;
    fill: color('white');
  }
}
.ratings {

  .rating-item {
    position: relative;
    width: 25px;
    display: inline-block;

    .full-item {
      overflow: hidden;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
    }
  }
}

.tag-brandpage h1 {
  font-size: 3.2em;
}
.link-icon {
  position: relative;
  top: 2px;
}
@media (min-width: 768px) {
.carousel-item.large {
  width: 450px;
 }
}
/* Buttons */
.btn, .btn-large {
  &.action {
    text-transform: uppercase;
    color: color('white');
    background-color: color('pink');
  }
  &.weak-action {
    text-transform: uppercase;
    color: color('white');
    background-color: color('black');
  }
}
/* Parallax */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


/* Helpers */
.veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.75;
}
.relative {
  position: relative;
}
.text-shadow {
  text-shadow: 2px 2px 3px color('black');
  &.light {
    text-shadow: 2px 2px 3px color('white');
  }
}